<mat-card class="card-body">
  <section class="mat-typography">
    <h3>{{header}} Login Portal</h3>
  </section>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="update-form">
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Username" formControlName="userName" #username>
    </mat-form-field>
    <br>
    <mat-form-field class="field-full-width">
      <input type="password" matInput placeholder="Password" formControlName="password" #password>
    </mat-form-field>
    <br><br>
    <button class="btn btn-sm btn-primary" type="submit">Sign in</button>
  </form>
</mat-card>


